<<<<<<< HEAD

div.left {
    margin-right: 500px;
}
nav#menu p select {
    height: 50px; 
    color: black; 
    background-color: white;
=======

div.left {
    margin-right: 500px;
}
nav#menu p select {
    height: 50px; 
    color: black; 
    background-color: white;
>>>>>>> 5f53eb63f7bd5cad6bb79731317061e42f4117f3
}